
#logo{
    margin-left: 20px;
    padding-right: 600px;
}

#main{
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
    margin-left: 20px;
    padding-top: 30px;
}

#A{
    background-color: rgb(107, 100, 100);
    text-align: left;
    padding-left: 0px;
    padding-top: 100px;
    
}

#text{
    padding-left: 90px;
    padding-top: 20px;
    padding-right: 100px;

    padding-bottom: 100px;
}

#section{
    background-color: gray;
}

#serve{
    text-align: right;
    font-size: 50px;
    padding-right: 115px;
}

#tagline{
    text-align: right;
    padding-right: 115px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    color: gray;
}

#para{
    text-align: right;
    padding-right: 115px;
    padding-top: -5px;
    padding-bottom: 10px;
}

#cont{
    padding-left: 100px;
    padding-right:100px ;
}

#ct{
    font-size: 50px;
}

h4{
    color: gray;
}

h5{
    text-align: center;
    color: gray;
}

#last{
    text-decoration: none;
    color: rgb(58, 46, 46);
}

#last:hover{
    color: gray;
}